/* Adham Zineldin */
/* Global styles */


.Adham-Zineldin-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.birds-body body {
  overflow-x: hidden;
  margin: 0;
}

.Adham-Zineldin-footer-container {

  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}


/* Header */
.Adham-Zineldin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

/* Navigation */
.Adham-Zineldin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Adham-Zineldin-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Adham-Zineldin-nav ul li {
  display: inline;
}

.Adham-Zineldin-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.Adham-Zineldin-nav ul li a:hover {
  background-color: #555;
}

/* Sections */
.Adham-Zineldin-main {
  padding-top: 60px;
}

/* Intro section */
.Adham-Zineldin-intro-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: url('../resources/img/main-page/background-image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Adham-Zineldin-intro-content {
  text-align: center;
  color: white;
  z-index: 1;
}

.Adham-Zineldin-intro-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.Adham-Zineldin-intro-content p {
  font-size: 18px;
}

/* Animal section */
.Adham-Zineldin-animal-section {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.3s ease;

}

.Adham-Zineldin-animal-section img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

.Adham-Zineldin-animal-section::before {
  content: attr(data-type);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: gold;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease, font-style 0.3s ease, color 0.3s ease;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  z-index: 1;
}

.Adham-Zineldin-animal-section:hover::before {
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: goldenrod;
}

.Adham-Zineldin-animal-section:hover img {
  filter: brightness(0.4);
}

.Adham-Zineldin-animal-section:hover {
  transform: scale(1.05);

}


.Adham-Zineldin-loginModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


.Adham-Zineldin-modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 10px solid #888;
  width: 500px;
  border-radius: 25px;
}

.Adham-Zineldin-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.Adham-Zineldin-close:hover,
.Adham-Zineldin-close:focus {
  color: black;
  text-decoration: none;
}


.Adham-Zineldin-input-text, .Adham-Zineldin-input-password {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Adham-Zineldin-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.Adham-Zineldin-button:hover {
  background-color: #45a049;
}

#userAvatar {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.Adham-Zineldin-authSection {
  display: flex;
  align-items: center;
}


#openModalBtn {
  order: 1;
}

#logoutBtn {
  order: 2;
  background-color: red;

}


.search-icon-button {
  background: none;
  border: none;
  cursor: pointer;
}


#searchInput {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

/* Search Input Focus */
#searchInput:focus {
  border-color: #007bff;
}

.Adham-Zineldin-userAvatar {
  order: 3;
}

/*Adham Zineldin Birds*/

.Adham-Zineldin-birds-intro-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-image: url('../resources/img/birds/intro.jpeg');
  background-size: cover;
  background-position: center 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Adham-Zineldin-birds-section {
  position: relative;
  background: black;
  overflow: hidden;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Adham-Zineldin-birds-div {
  display: flex;
  border: 2px solid red;
  border-radius: 0;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Adham-Zineldin-birds-div img {
  width: 800px;
  height: 800px;
}

.Adham-Zineldin-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.Adham-Zineldin-birds-div h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.Adham-Zineldin-birds-div p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.Adham-Zineldin-read-more-button {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.Adham-Zineldin-read-more-button:hover {
  background-color: darkred;
}

.Adham-Zineldin-birds-section body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

.Adham-Zineldin-birds-section h1 {
  text-align: center;
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.comparison-table th,
.comparison-table td {
  border: 2px solid red;
  padding: 10px;
  text-align: left;
  color: white;
}

.comparison-table th {
  background-color: black;
  font-weight: bold;
}

.comparison-table tr:nth-child(even) {
  background-color: #333;
}

.comparison-table tr:nth-child(odd) {
  background-color: black;
}

.Adham-Zineldin-birds-section h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

/*Per Animals site*/
/* General Styles */
.Adham-Zineldin-body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f7fb;
  color: #333;
  overflow-x: hidden;
}

/* Header Styles */
.Adham-Zineldin-header {
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  text-align: center;
}

.Adham-Zineldin-title {
  font-size: 34px;
  margin-bottom: 10px;
  color: #ecf0f1;
}

/* Navigation Styles */
.Adham-Zineldin-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.Adham-Zineldin-navigation a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.Adham-Zineldin-navigation a:hover {
  background-color: #34495e;
}

/* Container Styles */
.Adham-Zineldin-container {
  max-width: 900px;
  margin: 40px auto;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
.Adham-Zineldin-section {

  margin-top: 70px;
  padding: 20px;
  background-color: #e7f5f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Adham-Zineldin-heading {
  font-size: 24px;
  color: #2980b9;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Text and Media Styles */
.Adham-Zineldin-text {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.Adham-Zineldin-image, .Adham-Zineldin-video, .Adham-Zineldin-audio {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.Adham-Zineldin-image {
  height: 350px;
  width: 350px;
}

.Adham-Zineldin-text {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #2c3e50;
  line-height: 1.6;
  margin: 20px;
}

.Adham-Zineldin-text ol {
  padding-left: 20px;
  margin-bottom: 20px;
  list-style-type: decimal;
}

.Adham-Zineldin-text li {
  margin-bottom: 10px;
  padding-left: 10px;
  font-weight: 500;
}

.Adham-Zineldin-text ul {
  padding-left: 20px;
  margin-bottom: 10px;
  list-style-type: circle;
}


.Adham-Zineldin-text strong {
  color: #3498db;
  font-weight: 600;
}

.Adham-Zineldin-text ol,
.Adham-Zineldin-text ul {
  border-left: 2px solid #3498db;
  padding-left: 20px;
}


body.dark-mode {
  --background-color: #121212;
  --text-color: #f5f5f5;
}


body.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}


body.dark-mode .Adham-Zineldin-header {
  background-color: #1c2a36;
  color: var(--text-color);
}

body.dark-mode .Adham-Zineldin-title {
  color: var(--text-color);
}

body.dark-mode .Adham-Zineldin-navigation a {
  color: var(--text-color);
  background-color: #2a3a47;
}

body.dark-mode .Adham-Zineldin-navigation a:hover {
  background-color: #1f2b34;
}

body.dark-mode .Adham-Zineldin-container {
  background-color: #1e2730;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}


body.dark-mode .Adham-Zineldin-section {
  background-color: #2a3a47;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}

body.dark-mode .Adham-Zineldin-text {
  color: var(--text-color);
}


body.dark-mode .Adham-Zineldin-footer-container {
  background-color: #222;
  color: var(--text-color);
}

body.dark-mode .Adham-Zineldin-navigation button {
  color: var(--text-color);
  background-color: #2a3a47;
}


body.dark-mode .Adham-Zineldin-navigation button:hover {
  background-color: #1f2b34;
}

#theme-toggle .dark-mode {

}

/*Adham Zineldin END*/
/*Adham Mostafa*/
/*من اول*/
.adham-mostafa * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial, sans-serif;
}

.adham-mostafa header {
  background: black;
  color: #fff;
  padding: 20px 0;
}

.adham-mostafa header h2 {
  float: left;
  color: #fff;
}

.adham-mostafa nav ul {
  float: right;
  list-style: none;
}

.adham-mostafa nav ul li {
  display: inline;
  margin-left: 5px;
}

.adham-mostafa h2.tiger {
  text-align: center;
}

.adham-mostafa nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.adham-mostafa footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.adham-mostafa th,
.adham-mostafa td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.adham-mostafa th {
  background-color: #504c4c;
}

/*لحد هنا مش عارف اغيره*/
.AMSp {
  padding: 6px;
}

.AMScontainer {
  width: 80%;
  margin: auto;
  padding: 20px;

}

.AMSfieldset {
  flex: 1;
  border: 10px solid rgb(19, 18, 18);
  box-sizing: border-box;
}

.AMSh1 {
  text-align: center;
  padding: 10px 5px;
}

.AMSsec1 {
  height: 300px;
  width: 500px;
  color: rgb(204, 9, 9);
  text-align: center;
}

#AMSphoto {
  text-align: center;
  display: none;
}

.AMSbotto {
  text-align: center;
  display: inline-block;
  background: #df0808;
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 15px;
  width: 250px;
}

#AMStable {
  width: 60%;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  /* Ensure the video stays behind other content */
}

/*من اول*/
.adham-mostafa * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Arial, sans-serif;
}

.adham-mostafa nav ul {
  float: right;
  list-style: none;
}

.adham-mostafa nav ul li {
  display: inline;
  margin-left: 50px;
}

.adham-mostafa nav ul li a {
  color: #fff;
  text-decoration: none;
}

/*لحد هنا مش عارف اغيره*/
.AMScontainer {
  width: 80%;
  margin: auto;
  padding: 20px;

}

.AMSheader {
  background: black;
  color: #fff;
  padding: 20px 0;
}

.AMS h2 {
  float: left;
  color: #0a6386;
}


#AMSbanner {
  background: center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

#banner h2 {
  margin-bottom: 20px;
}

.AMSbtn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 15px;
}

.AMScontaine {
  display: flex;
  flex-direction: row;
  height: 130vh;

}

.AMShalf {
  flex: 1;
  border: 10px solid rgb(107, 107, 105);
  box-sizing: border-box;
  padding: 50px;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  /* Ensure the video stays behind other content */
}

#MammalsAMS {
  text-align: center;
}


/*Adham Mostafa END*/


/*IDK*/
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.idk h1 {
  text-align: center;
}

.idk img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.idk h2 {
  margin-top: 20px;
}

.idk p {
  line-height: 1.5;
}

/*IDK END*/


/* reptiles - ayman */

.ayman-body-reptiles {
  font-family: "Poppins, sans-serif";
  background-color: #c4b6b6;
}

.ayman-header-reptiles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

.ayman-nav-reptiles ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.ayman-nav-reptiles ul li {
  display: inline;
  margin: 25px;
}

.ayman-nav-reptiles ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 60px;
  font-size: large;
}

.ayman-nav-reptiles ul li a:hover {
  background-color: #555;
}

.ayman-intro-section-reptiles {
  position: center;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/resources/img/intro-page-reptiles/selective-focus-shot-armadillo-girdled-lizard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* make the background fixed during scrolling */
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 20px;
}

.ayman-intro-content-reptiles {
  font-size: 20px;
  text-align: center;
  color: white;
  z-index: 1;
}


/* squamate section */

.ayman-squamate-turtle-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/resources/img/intro-page-reptiles/desert-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
}

.ayman-squamate-section {
  margin-left: 60px;
  color: white;
}

.ayman-squamate-section h1 {
  font-size: 3em;
  text-shadow: 1px 1px #fff;
}

.ayman-squamate-section p {
  font-size: 1.3em;
  font-weight: 500;
}

.ayman-squamate-section a button {
  width: 100px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background-color: #e5f5aa;
  border: 0;
  border-radius: 12px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.ayman-squamate-section a button:hover {
  background-color: #e5e764;
}

.ayman-squamate-card-section {
  padding: 0 100px;
}

.ayman-squamate-card-section a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 1px 1px #fff;
}

.snake-card {
  background-image: url("/resources/img/intro-page-reptiles/snake2.jpg");
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 220px;
  border-radius: 10px;
  margin-top: 60px;
  padding: 15px 25px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.snake-card:hover {
  transform: translateY(-10px);
}

.lizard-card {
  background-image: url("/resources/img/intro-page-reptiles/Squamates.jpg");
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 220px;
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.lizard-card:hover {
  transform: translateY(-10px);
}

/* turtle section  */

.ayman-turtle-section {
  margin-left: 60px;
  color: white;
}

.ayman-turtle-section h1 {
  font-size: 3em;
  text-shadow: 1px 1px #fff;
}

.ayman-turtle-section p {
  font-size: 1.3em;
  font-weight: 500;
}

.ayman-turtle-section a button {
  width: 100px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background-color: #e5f5aa;
  border: 0;
  border-radius: 12px;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.ayman-turtle-section a button:hover {
  background-color: #e5e764;
}

.ayman-turtle-card-section {
  padding: 0 100px;
}

.ayman-turtle-card-section a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 1px 1px #fff;
}

.turtle-card {
  background-image: url("/resources/img/intro-page-reptiles/Turtle.jpg");
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 220px;
  border-radius: 10px;
  margin-top: 60px;
  padding: 15px 25px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.turtle-card:hover {
  transform: translateY(-10px);
}

.tortoise-card {
  background-image: url("/resources/img/intro-page-reptiles/turtoise.jpg");
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 220px;
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.tortoise-card:hover {
  transform: translateY(-10px);
}

/* feedback section  */


.ayman-reptiles-feedback-form {
  background-color: #ccc;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ayman-reptiles-feedback-form h2 {
  text-align: center;
}

.ayman-reptiles-feedback-form label,
.ayman-reptiles-feedback-form input,
.ayman-reptiles-feedback-form textarea,
.ayman-reptiles-feedback-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.ayman-reptiles-feedback-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.ayman-reptiles-feedback-form button:hover {
  background-color: #555;
}


.ayman-feedback-section {
  display: inline;
  background-color: wheat;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ayman-reptiles-feedback-display {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.ayman-reptiles-feedback-display h2 {
  text-align: center;
}

.ayman-reptiles-feedback-display ul {
  color: black;
  list-style-type: none;
  padding: 0;
}

.ayman-reptiles-feedback-display li {
  margin: 5px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}


.ayman-footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ayman-reptiles-footer {
  width: 700px;
  padding: 3px;
  background-color: #242020;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  display: flex;
}

.ayman-reptiles-footer p {
  margin: 0;
}


/* squamates layout */

.ayman-s2-body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.ayman-s2-header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.ayman-s2-navbar {
  display: flex;
  align-items: center;
}

.ayman-s2-navbar a img {
  width: 50px;
  height: 50px;
  margin-left: 100px;
  transition: transform 0.6;
}

.ayman-s2-header img:hover {
  transform: translateX(-10px);
}


.ayman-s2-nav ul {
  background-color: rgb(0, 0, 0);
  border-radius: 60px;
  width: 550px;
  margin-left: 600px;
}

.ayman-s2-nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 25px;
  padding: 4px;
}

.ayman-s2-nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
  margin: 6px;
  padding: 2px;
}

.ayman-s2-nav ul li a:hover {
  background-color: #c3db3a;
  padding: 4px;
  border-radius: 10px;
}

/* squamates intro */

.ayman-s2-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(200, 200, 200, 0.2)), url("/resources/img/intro-page-reptiles/selective-focus-shot-armadillo-girdled-lizard.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ayman-s2-intro div {
  margin-left: 90px;
}

.ayman-s2-intro div h1 {
  font-size: 35px;
}

/* lizard section */

.ayman-lizard-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/resources/img/intro-page-reptiles/1000_F_558805042_T8NbvhtkhrxPdT3760L4Bx6SzGEW9Tyx.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.ayman-lizard-section div {
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 80px;
  margin-top: 40px;
}

.ayman-lizard-section div h1 {
  font-size: 3em;
  text-shadow: 1px 1px #fff;
}

.ayman-lizard-section div p {
  font-size: 1.5em;
}


.ayman-lizard-section iframe {
  width: 700px;
  height: 500px;
  margin-left: 120px;
  margin-right: 100px;
  margin-top: 40px;
}

/* snake section */

.ayman-snake-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/resources/img/intro-page-reptiles/snake.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}


.ayman-snake-section div {
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 80px;
  margin-top: 40px;
}

.ayman-snake-section div h1 {
  font-size: 3em;
  text-shadow: 1px 1px #fff;
}

.ayman-snake-section div p {
  font-size: 1.5em;
}


.ayman-snake-section iframe {
  width: 700px;
  height: 500px;
  margin-left: 120px;
  margin-right: 100px;
  margin-top: 40px;
}


/* squamate video */

.ayman-lizard-video {
  background-color: #e5e750;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ayman-lizard-video iframe {
  height: 80%;
  width: 80%;
  margin-top: 50px;
  border: 5px outset #504c4c;
}


/* turtles layout */

.ayman-body-turtles {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* turtles header */

.ayman-turtles-header {
  display: flex;
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  top: 0;
}

.ayman-turtles-navbar {
  margin-right: 200px;
}

.ayman-turtles-navbar a {
  text-decoration: none;
  color: #2a56cf;
  font-size: 1.3em;
  font-weight: 700;
  padding-left: 40px;
}

.ayman-turtles-navbar a:hover {
  color: #0f2253;
}

.ayman-turtles-header img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.5;
  margin-left: 120px;
}

.ayman-turtles-header img:hover {
  transform: scale(1.2);
}

/* intro turtle section */

.intro-turtle-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/resources/img/intro-page-reptiles/Turtle.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  color: black;
}

.intro-turtle-section div {
  margin-top: 90px;
  margin-left: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro-turtle-section div h1 {
  margin-bottom: 40px;
  font-size: 3.5em;
  text-shadow: 1.8px 1.8px #e6e6e6;
  color: black;
}

.intro-turtle-section div h3 {
  max-width: 400px;
  font-size: 1.8em;
  color: #000000;
}


/* turtle section */

.turtle-turtle-section {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.turtle-turtle-section div {
  text-align: center;
  padding: 100px;
}

.turtle-turtle-section div h1 {
  font-size: 4em;
}

.turtle-turtle-section div p {
  font-size: 1.2em;
}

.turtle-turtle-section img {
  display: flex;
  float: right;
  width: 500px;
  height: 100vh;
}

/* tortoise section */

.tortoise-turtle-section {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tortoise-turtle-section div {
  text-align: center;
  padding: 100px;
}

.tortoise-turtle-section div h1 {
  font-size: 4em;
}


.tortoise-turtle-section div p {
  font-size: 1.2em;
}

.tortoise-turtle-section img {
  display: flex;
  float: right;
  width: 500px;
  height: 100vh;
}


/* turtle section comparison */

.turtle-comparison {
  background-color: #f8f6f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.turtle-table h1 {
  margin-top: 50px;
  text-align: center;
  color: #333;
}

.turtle-table table {
  width: 1200px;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid #333;
}

.turtle-table th, td {
  padding: 40px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #333;
}

.turtle-table th {
  background-color: #333;
  color: #fff;
}

.turtle-table tr:nth-child(odd) {
  background-color: #a1acc9;
}

.turtle-table tr:hover {
  background-color: #ffffff;
}

.ayman-turtles-video {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #a1aaca;
}

.ayman-turtles-video div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

}

.ayman-turtles-video div video {
  width: 1000px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);
}

/* ayman finished */
