body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

/* NAVIGATION */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #555;
}



/*SECTIONS*/

main {
  padding-top: 60px;
}

.intro-section {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Set height to 100% of viewport height */
  background-image: url('../img/main-page/background-image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
}

.intro-content {
  text-align: center;
  color: white;
  z-index: 1;
}


.intro-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.intro-content p {
  font-size: 18px;
}






.animal-section {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.animal-section img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0; /* Ensure image is behind the text */
}

.animal-section::before {
  content: attr(data-type);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: gold; /* Golden color */
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease, font-style 0.3s ease, color 0.3s ease; /* Add transitions for font properties and color */
  font-size: 16px; /* Initial font size */
  font-weight: normal; /* Initial font weight */
  font-style: normal; /* Initial font style */
  z-index: 1; /* Ensure text is in front of the image */
}

.animal-section:hover::before {
  opacity: 1; /* Fully visible on hover */
  font-size: 24px; /* Larger font size on hover */
  font-weight: bold; /* Bold font on hover */
  font-style: italic; /* Italic font on hover */
  color: goldenrod; /* Golden color on hover */
}

.animal-section:hover img {
  filter: brightness(0.4); /* Darken image on hover */
}

.animal-section:hover {
  transform: scale(1.05);
}


